<h1>Administration of machines</h1>

<!-- button for adding a new machine -->
<a href="#!/admin/newuser" class="btn btn-primary">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    New user
</a>

<table class="table">
    <thead>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>username</th>
        <!--<th>passwordHash</th>-->
        <!--<th>user type</th>-->
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="user in users track by $index">
        <td>{{machine.id}}</td>
        <td>{{machine.name}}</td>
        <td>{{machine.username}}</td>
        <!--<td>{{machine.passwordHash}}</td>-->
        <!--<td>{{machine.userType}}</td>-->
        <td>
            <button ng-click="deleteUser(user)" type="submit" class="btn btn-primary">Delete</button>
        </td>
    </tr>
    </tbody>
</table>
