<form name="form" novalidate class="form-horizontal">
    <!--<div class="form-group" >-->
        <!--<label for="date" class="col-sm-2 control-label">Date</label>-->
        <!--<div class="col-sm-10">-->
            <!--<input type="date" id="date" name="date" ng-model="revision.date">-->
        <!--</div>-->
    <!--</div>-->
    <div class="form-group" >
        <label for="result" class="col-sm-2 control-label">Passed</label>
        <div class="col-sm-10">
            <input type="checkbox" id="result" name="result" ng-model="revision.result">
        </div>
    </div>
</div>

    <!-- show disabled button if form is not valid -->
    <button ng-disabled="!form.$valid" class="btn btn-primary" type="submit" ng-click="create(revision)">Create revision
    </button>
</form>
