<h1>Administration of revisions</h1>

<h3 ng-if="machineName">Revisions for {{machineName}}</h3>

<!-- button for adding a new revision -->
<a href="#!/admin/newrevision" class="btn btn-primary" ng-if="!machine">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    New revision
</a>

<a href="#!/admin/newrevision/?machine={{machine}}" class="btn btn-primary" ng-if="machine">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    New revision for {{machineName}}
</a>

<table class="table">
    <thead>
    <tr>
        <th>id</th>
        <th>machine</th>
        <th>revision date</th>
        <th>revision result</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="revision in revisions track by $index">
        <td>{{revision.id}}</td>
        <td>{{revision.machine.name}}</td>
        <td>{{revision.date}}</td>
        <td>{{revision.result}}</td>
        <td>
            <button ng-click="deleteRevision(revision)" type="submit" class="btn btn-primary">Delete</button>
        </td>
    </tr>
    </tbody>
</table>
