<h1>Administration of revisions</h1>


<table class="table">
    <thead>
    <tr>
        <th>id</th>
        <th>machine</th>
        <th>revision date</th>
        <th>revision result</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="revision in revisions track by $index">
        <td>{{revision.id}}</td>
        <td>{{revision.machine.name}}</td>
        <td>{{revision.date}}</td>
        <td>{{revision.result}}</td>
        <td>
            <button ng-click="deleteRevision(revision)" type="submit" class="btn btn-primary">Delete</button>
        </td>
    </tr>
    </tbody>
</table>
