<h1>My rentals</h1>

<table class="table">
    <thead>
    <tr>
        <th>id</th>
        <th>machine name</th>
        <th>user name</th>
        <th>date of rental</th>
        <th>return date</th>
        <th>note</th>
        <th>last revision status</th>
        <th>last revision date</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="rental in rentals track by $index">
        <td>{{rental.id}}</td>
        <td>{{rental.machine.name}}</td>
        <td>{{rental.user.name}}</td>
        <td>{{rental.dateOfRental}}</td>
        <td>{{rental.returnDate}}</td>
        <td>{{rental.note}}</td>
        <td>{{rental.lastRevision}}</td>
        <td>{{rental.revisionDate}}</td>
    </tr>
    </tbody>
</table>
